.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}


.feature:nth-child(even) img{
  float:left;
  padding-right: 20px;
}

.feature:nth-child(odd) img{
  float:right;
  padding-left: 20px;
}
